@import 'settings';
@import 'colors';
@import 'foundation';
@import 'motion-ui/motion-ui';
@import 'font-awesome';
@import url("https://fonts.googleapis.com/css?family=Dosis|Titillium+Web");

.body {
  background-color: #f0efeb;
  text-align: center;
  Font-Family: 'Dosis', Sans-Serif;
  Font-Size: 48px;
  Font-Family: 'Titillium Web', Sans-Serif;
  Font-Size: 16px;
}

.button {
  border: 0;
  border-radius: 10px;
  background: $buttons;
  font-family: -system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.2rem 0.2rem;
  cursor: pointer;
}

.callout.shaded {
  border-color: 2px solid $fa;
  background-color: $buttons;
  Font-Family: 'Dosis', Sans-Serif;
}

li {  
  list-style: none;
}

.test {
  background: #ddbea9;
  color:#1d3557;
  text-align: center;
}

.button {
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid $fa;
  background: $buttons;
  font-family: -system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: .75rem .75rem;
  cursor: pointer;

}

.title {
  Font-Family: 'Dosis', Sans-Serif;
  
}

a:hover {
  background-color: $fa;
  border-radius: 5px;
}
.bot{
  margin-bottom: 10px;
}

.page-columns {
  margin: 30px;
  border-radius: 5px;
  color: #5D4A4A;
}