
@import 'settings';
@import 'colors';
@import 'foundation';
@import 'font-awesome';
@import url("https://fonts.googleapis.com/css?family=Dosis|Titillium+Web");

body {
  background-color: #f0efeb;
  text-align: center;
  Font-Family: 'Dosis', Sans-Serif;
  Font-Size: 48px;
  Font-Family: 'Titillium Web', Sans-Serif;
  Font-Size: 16px;
}

li {  
  list-style: none;
}

.pg {
  width: fit-content;
}

.main-title {
  Font-Family: 'Dosis', Sans-Serif;
  font-size: 50px;
  color: $fa;
  margin-bottom: 10px;
   -webkit-text-stroke: 1px $font;
}

.title {
  Font-Family: 'Dosis', Sans-Serif;
  color: $font;
  margin-top: 30px;
  margin-bottom: 10px;
}

.forgot-link{
  color: $nav;
}

.page-columns {
  margin: 30px;
  border-radius: 5px;
  color: #5D4A4A;
}

.roast-a:hover {
 background-color: $nav;
 border-radius: 10px;
 margin-top: 10px;
 padding: 2px 10px;
}

.forgot-link {
  margin-top: 10px;
}

.forgot-link:hover {
  background-color: $nav;
  border-radius: 10px;
  color: white;
  margin-top: 5px;
  padding: .25rem .5rem;
}

.alert {
  align-items: center;
  padding: 20px;
  background-color: #eb6534;
  color: white;
  border-radius: 10px;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
