@import 'settings';
@import 'colors';
@import 'foundation';
@import 'motion-ui/motion-ui';

//brew container css
.brew-title {
  margin-top: 30px;
  color: $font;
}


//brew tile css
.user {
  color: $user-brown;
  border-radius: 3px;
  font-weight: 600;  
  font-size: large;
}

//brew show css
.scrolling-container {
  height: 400px;
}

.overview {
  height: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;   
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: 1;
  z-index: 0;
}

.overview:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  z-index: 0;
}

.overview-content {
  max-width: 300px;
  z-index: 1;
}

.portfolio-resume-scrolling {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media print, screen and (min-width: 40em) {
  .portfolio-resume-scrolling {
    height: 400px;
    overflow-y: auto;
  }
}
