@import 'colors';

.button {
  outline: none;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  background: $buttons;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  background-color: $fa;
  padding: 10px;
  border-radius: 10px;
}

.profile-button {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  background: $user-brown;
  white-space: nowrap;
  cursor: pointer;
}

.profile-button:hover {
  background-color: $dark-gray;
  padding: 10px;
  border-radius: 10px;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
