@import 'settings';
@import 'colors';
@import 'foundation';
@import 'motion-ui/motion-ui';

.cafe-tile {
  Font-Family: 'Dosis', Sans-Serif;
  color: $font;
  font-weight: 500;
}

.cafe-button {
  height: 50%;
  Font-Family: 'Dosis', Sans-Serif;
  color: $white;
  margin: 10px 10px;
}