@import 'settings';
@import 'colors';
@import 'foundation';
@import 'motion-ui/motion-ui';

.translucent-form-overlay {
  width: 100%;
  background-color: rgba(88, 123, 127, 0.1);
  padding: 20px;
  border-radius: 15px;
  color: #5D4A4A;
}

.field {
  font-size: medium;
  font-weight: 500;
  color: #5D4A4A;
}

.method-title {
  margin-bottom: 20px;
}