@import 'settings';
@import 'colors';
@import 'foundation';
@import 'motion-ui/motion-ui';

.profile-photo {
  border-radius: 10px;
}

.top-bar, .top-bar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $nav;
}

.title-bar {
  background: $nav;
}

.nav-links {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: white;
  cursor: pointer;
}




@media screen and (max-width: 39.9375em) {
  .no-js .top-bar {
    display: none;
  }
}

@media print, screen and (min-width: 40em) {
  .no-js .title-bar {
    display: none;
  }
}

[data-sticky] {
  width: 100%;
}

.sticky-container {
  z-index: 5;
}
