@import 'settings';
@import 'foundation';
@import 'colors';
@import 'motion-ui/motion-ui';


.brew-form {
  margin-bottom: 20px;
}

.user-tile {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
.user-brew-tile {
  padding: 10px;
}

.user-grid {
  margin-top: 20px;
}